# Arquivos ignorados pelo Git

vendor/
.env
*.log
.DS_Store
Thumbs.db
*.sqlite
/node_modules/
/.vscode/
.idea/
cache/
logs/
tmp/
uploads/
*.cache
*.tmp
/.git/

# Backups e temporários
*.bak_*
*.bak
*.apos_passo_*
*.bak_antes_*
payload.json
